*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}
ul,ol,a{
    list-style-type: none;
    text-decoration: none;
}
a{
    color: inherit;
}
